use guix --container -F -N openjdk@11
use_sdk() {
  export SDKMAN_DIR="$HOME/.sdkman"

  if [[ ! -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]]; then
	  curl -s "https://get.sdkman.io?rcupdate=false" | bash
  fi
  source "${SDKMAN_DIR}/bin/sdkman-init.sh"

  while (( "$#" >= 2 )); do
	  local candidate=$1
	  local candidate_version=$2

	  SDKMAN_OFFLINE_MODE=true sdk use $candidate $candidate_version

	  shift 2
  done
}
use_sdk kotlin 1.9.0
